<% content_for :zara do %>
  <%= stylesheet_link_tag 'zarastyle' %>

<% @morandava.each do |moran| %>
	<div>
		<h2> <%= link_to moran.title, moran %> </h2>
	</div>
<% end %>

<% @trip_2014.each do |trip| %>
	<div>
		<h2> <%= link_to trip.title, trip %> </h2>
	</div>
<% end %>

<% @andavabatu.each do |andav| %>
	<div>
		<h2> <%= link_to andav.title, andav %> </h2>
	</div>
<% end %>

<% @ranamofana.each do |rana| %>
	<div>
		<h2> <%= link_to rana.title, rana %> </h2>
	</div>
<% end %>

<% @crocodiles.each do |croc| %>
	<div>
		<h2> <%= link_to croc.title, croc %> </h2>
	</div>
<% end %>
<% end %>



