<%= form_for @post do |x| %>
	<% if @post.errors.any? %>
		<div id='errors'></div>
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving </h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li> <%= msg %> </li>
				<% end %>
			</ul>
		</div> 
	<% end %>
	<p>
		<%= x.label :title %> <br>
		<%= x.text_field :title %>
	</p>

	<p>
		<%= x.label :body %> <br>
		<%= x.text_area :body %>
	</p>

	<p>
		<%= x.submit %>
	</p>

<% end %>