  <%= stylesheet_link_tag 'indexstyle' %>
    <section>

      <div class="col1">
        <div class="introtxt">
          <h3>Brooklyn, NY</h3>
          <h1>
            <span>Danny Glatstein.</span>
            <br>
            Web Developer.
            <br>
            Hopeful Artist. 
            <br>
            Volunteer Teacher.
            <br>
            Weekend Pitmaster.
            <br>
            // The Flatiron School Alumni //
          </h1>
        </div>
        <div class="halfitem">
          <div class="vertical">
            <img src="<%= asset_path( 'lizard.jpg' ) %>" />
          </div>
          <div class="vertical">
            <img src="<%= asset_path( 'flipping.jpg' ) %>" />
          </div>
          
        </div>
        <div>
          <figure><img src="<%= asset_path( 'zalogo.jpg' ) %>" /></figure>
          <figure><img src="<%= asset_path( 'zarakids.jpg' ) %>" /></figure>
        </div>
      </div>

    </section>

    <section>

      <div class="col2">
          <figure><img src="<%= asset_path( 'danielglatstein0061.jpg' ) %>" /></figure>
          <figure><img src="<%= asset_path( 'connectedbugs.jpg' ) %>" /></figure>
          <figure><img src="<%= asset_path( 'DSC_1120.JPG' ) %>" /></figure>
          <figure><img src="<%= asset_path( 'kersh.jpg' ) %>" /></figure>
          <figure><img src="<%= asset_path( 'stay_positive.JPG' ) %>" /></figure>
          <figure><img src="<%= asset_path( 'danny_smiling.JPG' ) %>" /></figure>
          <figure><img src="<%= asset_path( 'patty_cakes.JPG' ) %>" /></figure>
          <figure><img src="<%= asset_path( 'curious_monkey.JPG' ) %>" /></figure>
      </div>

    </section>
