  <%= stylesheet_link_tag 'post_page_style' %>
<body background= "<%= asset_path( 'DSC_1120.JPG' ) %>" >
<div id="container">
	<div class="container-overflow">
		<div class="container-wrap">
			<h2 class="sec_name">	<%= @posts.title %> </h2>

			<h3 class="sec_desc"> <%= @posts.body %> </h3>

			<div class="salsa_pic">
				<p> <%= image_tag @posts.image_url(:thumb).to_s %> </p>
			</div>

			<p class="date">
				submitted <%= time_ago_in_words(@posts.created_at) %> ago
			</p>
		</div>
	</div>
</div>
</body>