<!DOCTYPE html>
<html>
<head>
  <title>Dodgerredhead</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header id="app_head">
			<h1 id="logo"> <%= link_to 'Danny G', root_path %> </h1>
			<nav id="nav_bar">
				<ul>
					<li>
						<%= link_to 'Salsa', salsa_path %>
					</li>
					<li>
						<%= link_to 'Zara Aina', zara_aina_path %>
					</li>
					<li>
						<%= link_to 'Artwork', artwork_path %>
					</li>
					<li> 	
						
					</li>
				</ul>
			</nav>
				<div id="social">
					<% if user_signed_in? %>
							Signed in as <%= current_user.name %>. Not you?
							<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
						<% else %>
							<a class="twit" target="_blank" href="<%= user_omniauth_authorize_path(:twitter) %>" title="twitter"> </a>
							<a class="insta" target="_blank" href="<%= user_omniauth_authorize_path(:twitter) %>" title="instagram"> </a>
							<a class="plus" target="_blank" href="<%= user_omniauth_authorize_path(:twitter) %>" title="google_plus"> </a>
							<a class="facebook" target="_blank" href="<%= user_omniauth_authorize_path(:facebook) %>" title="facebook"> </a>
					<% end %>
				</div>
	</header>


	<%= yield %>


</body>
</html>
