<!DOCTYPE html>
<html>
<head>
  <title>Dodgerredhead</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header id="app_head">
			<h1 id="logo"> <%= link_to 'Danny G', root_path %> </h1>
			<nav id="nav_bar">
				<ul>
					<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MY APPLICATIONS<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="https://d-atta-boy.herokuapp.com/directory">D-Atta Boy</a></li>
                    <li><a href="https://get-cookin.herokuapp.com/">GetCookin</a></li>
                  </ul>
                </li>
              <li>
					<li>
						<a href="danielglatstein.github.io">MY BLOG</a>
					</li>
				</ul>
			</nav>
	</header>


	<%= yield %>


</body>
</html>
